<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Guardmetrics Store</title>

    <meta name="keywords" content="Guardmetrics safedefence" />
    <meta name="description" content="Guardmetrics">
    <meta name="author" content="guardmetrics.ng">

    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">
</head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <script src="<%= BASE_URL %>assets/vendor/jquery/jquery.min.js"></script>
    <script src="<%= BASE_URL %>assets/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="<%= BASE_URL %>assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script src="<%= BASE_URL %>assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="<%= BASE_URL %>assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="<%= BASE_URL %>assets/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="<%= BASE_URL %>assets/js/custom.js"></script>
  </body>
</html>
