<template>
    <section class="mt-5 appear-animate" >
        <div class="container" v-if="fLoaded">
            <h2 class="title title-line title-underline with-link pt-4">Our Featured<router-link to="/products">View more<i
                        class="d-icon-arrow-right"></i></router-link></h2>
            <carousel v-if="this.featured.length > 0"
                :items=5
                :nav=false
                :loop=true
                :dots=true
                :margin=20
                :responsive="{0: {items:2},768: {items: 3},992: {items: 4,}}"
            >
                <div class="product" v-for="(item, key) in featured" :key="key">
                    <figure class="product-media" style="background-color: #f6f7f9;">
                        <router-link :to="'/product/'+item.unique_id">
                            <img :src="item.images[0]?item.images[0].name:item.category.image" style="object-fit:contain;height:12em" class="prod-img">
                        </router-link>
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-cart" title="Add to cart"  @click="addToCartPlugin(item)">
                                <i class="d-icon-bag"></i>
                            </a>
                        </div>
                        <div class="product-action">
                            <a href="#" class="btn-product btn-quickview" title="Quick View">Quick View</a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <div class="product-cat">
                            <a :href="'/categories/'+item.category.url_name">{{item.category.name}}</a>
                        </div>
                        <h3 class="product-name">
                            <a :href="'/product/'+item.unique_id">{{item.name}}</a>
                        </h3>
                        <div class="product-price">
                            <span class="price">{{item.price}}</span>
                        </div>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:60%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="javascript:void()" class="rating-reviews">( 12 reviews )</a>
                        </div>
                    </div>
                </div>
            </carousel>
            <div v-else>
                <p class="alert alert-primary" style="font-size:15px; padding:10px 18px;color:white">No featured products available</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5" v-else>
            <loader color="blue" text="Loading"></loader>
        </div>
    </section>
</template>

<script>
import carousel from 'vue-owl-carousel'
export default {
    components:{
        carousel,
    },
    data(){
        return {
            featured:[],
            fLoaded:false,
        }
    },
    methods:{
        getFeatured(){
            this.$store.dispatch('get', 'get-featured')
            .then((data)=>{
                // console.log(data.data)
                if(data.data.status){
                    this.fLoaded=true
                    this.featured = data.data.data
                }else{
                    this.$store.commit('setNotification',{type:2, msg:data.data.msg})
                }
            })
            .catch((error)=>{
                this.$store.dispatch('handleError', error);
            })
        },
    },
    created(){
        this.getFeatured()
    }
}
</script>

<style scoped>
    .appear-animate {
        visibility: visible;
        opacity: 1;
    }
</style>