<template>
    <footer class="footer appear-animate">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Get To Know Us</h4>
                                    <ul class="widget-body">
                                        <li><a href="#">About Riode</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Affiliate Program</a></li>
                                        <li><a href="#">Show Hosts</a></li>
                                        <li><a href="#">Riode Cares</a></li>
                                        <li><a href="#">Submit Your Product</a></li>
                                    </ul>
                                </div>
                                <!-- End of Widget -->
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Account</h4>
                                    <ul class="widget-body">
                                        <li><a href="account.html">My Account</a></li>
                                        <li><a href="#">Our Guarantees</a></li>
                                        <li><a href="#">Terms And Conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Intellectual Property Claims</a></li>
                                        <li><a href="#">Site Map</a></li>
                                    </ul>
                                </div>
                                <!-- End of Widget -->
                            </div>
                            <div class="col-md-4">
                                <div class="widget">
                                    <h4 class="widget-title">Get Help</h4>
                                    <ul class="widget-body">
                                        <li><a href="#">Shipping &amp; Delivery</a></li>
                                        <li><a href="#">Order Status</a></li>
                                        <li><a href="#">Brand</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Payment Options</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                    </ul>
                                </div>
                                <!-- End of Widget -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h4 class="widget-title">Newsletter</h4>
                            <div class="widget-body widget-newsletter">
                                <p>Sign up for newsletter today</p>
                                <form @submit.prevent="addSubscriber()" class="input-wrapper input-wrapper-inline">
                                    <input type="email" class="form-control" v-model="nmail" name="email" id="email"
                                        placeholder="Email address here..." required />
                                    <button class="btn btn-primary btn-sm btn-rounded btn-icon-right" type="submit">
                                        <span v-if="!loading"> subscribe<i class="d-icon-arrow-right"></i> </span>
                                        <span v-else>loading</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="footer-info d-flex align-items-center justify-content-between">
                            <div class="social-links">
                                <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" class="social-link social-linkedin fab fa-linkedin-in"></a>
                            </div>
                            <figure class="payment">
                                <img src="@/assets/images/demos/demo4/payment.png" alt="payment" width="135" height="24" />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of FooterMiddle -->
        <div class="footer-bottom">
            <div class="container justify-content-center">
                <p class="copyright">Guardmetrics eCommerce &copy; 2021. All Rights Reserved</p>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    data(){
        return {
            nmail:'',
            loading:false
        }
    },
    methods:{
        addSubscriber(){
            this.loading=true
            this.$store.dispatch('post', {endpoint:'newsletter', details:{email:this.nmail}})
                .then((data)=>{
                    this.loading=false
                    if(data.data.status){
                        this.$store.commit('setNotification', {type:1,msg:"Email added successfully"})
                    }else{
                        this.$store.commit('setNotification', {type:2,msg:data.data.msg})
                    }
                })
                .catch((error)=>{
                    this.loading=false
                    this.$store.dispatch('handleError', error)
                })
        },
    }
}
</script>

<style>

</style>