<template>
    <div class="page-wrapper">
        <navbar></navbar>
        <router-view></router-view>
        <footers></footers>                                                                                                                                                                                                                                                                                        
        <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>
        <mobile></mobile>
    </div>
</template>

<script>
import navbar from '@/components/layouts/navbar'
import footers from '@/components/layouts/footers'
import mobile from '@/components/layouts/mobile'
export default {
    components:{
        navbar,
        footers,
        mobile,
    }
}
</script>

<style>

</style>