<template>
    <div id="loader">
        <div class="load" :style="'border-top:2px solid '+color"></div>
        <span>{{text}}</span>
    </div>
</template>

<script>
export default {
    props:['color','text']
}
</script>

<style scoped>
    #loader{
        display: flex;
        align-items: center;

    }
    span{
        margin-left: 5px;
    }
    .load{
        width: 24px;
        height: 24px;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top: 2px solid red;
        /* margin: 10px 20px; */
        animation: roll .45s infinite linear;
    }
    @keyframes roll {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
</style>