<template>
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End of Overlay -->
        <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
        <!-- End of CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                    placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="d-icon-search"></i>
                </button>
            </form>
            <!-- End of Search Form -->
            <ul class="mobile-menu mmenu-anim">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li class="active">
                    <a href="/products">Shop</a>
                </li>
                <li class="active" v-if="!auth">
                    <a href="/about">About Us</a>
                </li>
                <li class="active" v-if="!auth">
                    <a href="/contact">Contact</a>
                </li>
                <li class="active" v-if="auth">
                    <a href="/orders">Orders</a>
                </li>
                <li class="active" v-if="auth">
                    <a href="/profile">Profile</a>
                </li>
            </ul>
            <!-- End of MobileMenu -->
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    computed:{
        ...mapState({
            auth: (context) => context.logged_in
        }),
    },
}
</script>

<style>

</style>