<template>
    <header class="header">
        <!-- End HeaderTop -->
        <div class="header-middle sticky-header fix-top sticky-content mb-0">
            <div class="container">
                <div class="header-left">
                    <a href="#" class="mobile-menu-toggle mr-0">
                        <i class="d-icon-bars2"></i>
                    </a>
                    <a href="/" class="logo d-lg-show">
                        <img src="@/assets/images/12.jpeg" alt="logo" width="100%" height="43" />
                    </a>
                    <!-- End Logo -->

                    <nav class="main-nav mr-4">
                        <ul class="menu justify-content-center">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="/products">Products</a>
                            </li>
                            <li class="active" v-if="!auth">
                                <a href="/about">About Us</a>
                            </li>
                            <li class="active" v-if="!auth">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="active" v-if="auth">
                                <router-link to="/orders">Orders</router-link>
                            </li>
                            <li class="active" v-if="auth">
                                <router-link to="/profile">Profile</router-link>
                            </li>
                        </ul>
                    </nav>
                    <span class="divider d-xl-show mr-4"></span>
                    <div class="header-search hs-toggle d-xl-show">
                        <a href="#" class="search-toggle">
                            <i class="d-icon-search"></i>
                        </a>
                        <form action="#" class="input-wrapper">
                            <input type="text" class="form-control" name="search" autocomplete="off"
                                placeholder="Search..." required />
                            <button class="btn btn-search" type="submit">
                                <i class="d-icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <!-- End of Header Search -->
                </div>
                <div class="header-center d-flex d-lg-none flex-1 justify-content-center">
                    <a href="/" class="logo mr-0" style="width:50px">
                        <img src="@/assets/images/12.jpeg" alt="logo" />
                    </a>
                </div>
                <div class="header-right">
                    <a href="tle:#" class="icon-box icon-box-side mr-6 d-xl-show">
                        <div class="icon-box-icon mr-0 mr-lg-1">
                            <i class="d-icon-phone"></i>
                        </div>
                        <div class="d-lg-show" style="width:8em">
                            (800) 414-1769
                        </div>
                    </a>

                    <router-link class="login-a" :to="auth ? '/dashboard' : '/login'">
                        <i class="d-icon-user"></i>
                    </router-link>
                    <div class="dropdown cart-dropdown type2 mr-0 mr-lg-2">
                        <a href="#" class="cart-toggle link">
                            <i class="d-icon-bag"><span class="cart-count">{{cart ? cart.length : 0}}</span></i>
                        </a>
                        <div class="dropdown-box">
                            <div v-if="cart && cart.length > 0">
                                <div class="products scrollable">
                                    <div class="product product-cart" v-for="(item, index) in cart" :key="index">
                                        <figure class="product-media">
                                            <router-link :to="'/product/'+item.unique_id">
                                                <img :src="item.image" alt="product" width="80"/>
                                            </router-link>
                                            <button class="btn btn-link btn-close" @click="removeFromCart(item.unique_id)">
                                                <i class="fas fa-times"></i><span class="sr-only">Close</span>
                                            </button>
                                        </figure>
                                        <div class="product-detail">
                                            <router-link :to="'/product/'+item.unique_id" class="product-name">{{item.name}}</router-link>
                                            <div class="price-box">
                                                <span class="product-quantity">{{item.quantity}}</span>
                                                <span class="product-price">₦{{item.price}}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                
                                <!-- End of Products  -->
                                <div class="cart-total">
                                    <label>Subtotal:</label>
                                    <span class="price">₦{{calculateTotal}}</span>
                                </div>
                                <!-- End of Cart Total -->
                                <div class="cart-action">
                                    <router-link to="/cart" class="btn btn-dark btn-link">View Cart</router-link>
                                    <router-link to="/checkout" class="btn btn-dark"><span>Go To Checkout</span></router-link>
                                </div>
                            </div>
                            <div v-else>
                                <p class="alert alert-primary mb-0">No item in your cart</p>
                            </div>
                            <!-- End of Cart Action -->
                        </div>
                        <!-- End Dropdown Box -->
                    </div>
                </div>
            </div>

        </div>
    </header>
</template>
<script>
import {mapState} from 'vuex'
export default {
    computed:{
        ...mapState({
            auth: (context) => context.logged_in,
            cart: (context) => context.cart
        }),
        calculateTotal(){
            let total = 0
            this.cart.forEach(element => {
                let price=element.quantity * element.price
                total += price
            });
            return total
        },
    },
    methods:{
        removeFromCart(id){
            let newA = []
            console.log(id)
            this.cart.map((element)=>{
                if(element.unique_id != id){
                    newA.push(element)
                }
            })
            this.$store.commit('setStateCart', newA)
            if(newA.length < 1){
                localStorage.removeItem('guardcart')
            }else{
                localStorage.setItem('guardcart',encodeURIComponent(JSON.stringify(newA)));
            }
        }
    },
    created(){
        // console.log(this.cart)
    }
}
</script>
<style scoped>
    .header-middle{
        padding-top:14px;
        padding-bottom: 0;
    }
    .sticky-content.fixed{
        padding-bottom: 13px;
    }
    .d-lg-show{
        width: 3em;
    }
    .header-middle .login-a {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        padding-bottom: .2rem;
    }
    .header-middle .login-a i {
        font-size: 2.3rem;
    }
</style>