<template>
    <div class="newsletter-popup mfp-hide" id="newsletter-popup" style="background-image: url(assets/images/newsletter-popup.jpg)">
        <div class="newsletter-content">
            <h4 class="text-uppercase text-dark">Up to <span class="text-primary">20% Off</span></h4>
            <h2 class="font-weight-semi-bold">Sign up to <span>Guardmetrics</span></h2>
            <p class="text-grey">Subscribe to the Guardmetrics newsletter to receive timely updates from your favorite
                products.
            </p>

            <form @submit.prevent="addSubscriber()" class="input-wrapper input-wrapper-inline input-wrapper-round">
                <input type="email" class="form-control email" v-model="email" name="email" id="email2" placeholder="Email address here..."
                    required="">
                <button class="btn btn-dark" type="submit">
                    <span v-if="!loading">SUBMIT</span>
                    <span v-else>Loading...</span>
                </button>
            </form>
            <div class="form-checkbox justify-content-center">
                <input type="checkbox" class="custom-checkbox" id="hide-newsletter-popup" name="hide-newsletter-popup"
                    required />
                <label for="hide-newsletter-popup">Don't show this popup again</label>
            </div>
            <div v-if="resp.sent" class="mt-3">
                <p v-if="resp.status == 2" class="alert alert-danger text-white" style="padding:6px; margin:0;">{{resp.msg}}</p>
                <p v-if="resp.status == 1" class="alert alert-success text-white" style="padding:6px; margin:0;">{{resp.msg}}</p>
            </div>
            
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            loading:false,
            email:'',
            resp:{
                sent:false,
                status:'',
                msg:''
            }
        }
    },
    methods:{
        addSubscriber(){
            this.loading=true
            this.$store.dispatch('post', {endpoint:'newsletter', details:{email:this.email}})
                .then((data)=>{
                    this.loading=false
                    console.log(data.data.status)
                    this.resp.sent = true
                    if(data.data.status){
                        this.resp.status = 1
                        this.resp.msg="Email added successfully"
                    }else{
                        this.resp.status = 2
                        this.resp.msg=data.data.msg
                    }
                })
                .catch((error)=>{
                    this.loading=false
                    this.$store.dispatch('handleError', error)
                })
        },
    }
}
</script>

<style>

</style>