<template>
    <div class="row toast">
        <div class="wdt">
            <div v-if="notification.type == 2" class="alert alert-danger alert-dark alert-round alert-inline">
                <h4 class="alert-title" v-html="notification.message"></h4>
                <button type="button" class="btn btn-link btn-close">
                    <i class="d-icon-times"></i>
                </button>
            </div>
            <div v-if="notification.type == 1" class="alert alert-success alert-dark alert-round alert-inline">
                <h4 class="alert-title" v-html="notification.message"></h4>
                <button type="button" class="btn btn-link btn-close">
                    <i class="d-icon-times"></i>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex' 
export default {
    name:'notification',
    computed:{
        ...mapState({ 
            notification:(state)=>state.notification
        }),
    },
}
</script>
<style >
    .wdt{
        width: 27em;
    }
    .toast{
        position: fixed;
        bottom: 30px;
        z-index: 999;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .alert-title{
        font-size: 13px;
    }
</style>