<template>
    <main class="main cart">
        <div class="page-content pt-7 pb-10">
            <div class="step-by pr-4 pl-4" v-if="cart && cart.length > 0">
                <h3 class="title title-simple title-step active"><router-link to="/cart">1. Shopping Cart</router-link></h3>
                <h3 class="title title-simple title-step"><router-link to="/checkout">2. Checkout</router-link></h3>
            </div>
            <div class="container mt-7 mb-2">
                <div class="row" v-if="cart && cart.length > 0">
                    <div class="col-lg-12 col-md-12 pr-lg-4">
                        <table class="shop-table cart-table">
                            <thead>
                                <tr>
                                    <th><span>Product</span></th>
                                    <th></th>
                                    <th><span>Price</span></th>
                                    <th><span>quantity</span></th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in cart" :key="index">
                                    <td class="product-thumbnail">
                                        <figure>
                                            <router-link :to="'/product/'+item.unique_id">
                                                <img :src="item.image" width="100" height="100" alt="product">
                                            </router-link>
                                        </figure>
                                    </td>
                                    <td class="product-name">
                                        <div class="product-name-section">
                                            <router-link :to="'/product/'+item.unique_id">{{item.name}}</router-link>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="amount">₦{{item.price}}</span>
                                    </td>
                                    <td class="product-quantity">
                                        <div class="input-group">
                                            <button class="quantity-minus d-icon-minus" @click="changeQuantity('minus',item.unique_id)"></button>
                                            <input class="quantity form-control" type="number" min="1"
                                                max="1000000" :value="item.quantity">
                                            <button class="quantity-plus d-icon-plus" @click="changeQuantity('add',item.unique_id)"></button>
                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount">₦{{ item.quantity * item.price }}</span>
                                    </td>
                                    <td class="product-close">
                                        <a href="#" class="product-remove" title="Remove this product" @click.prevent="removeFromCart(item.unique_id)">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="cart-actions mb-6 pt-4">
                            <a href="/products" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i class="d-icon-arrow-left"></i>Continue Shopping</a>
                            <router-link to="/checkout" class="btn btn-outline btn-dark btn-md btn-rounded">CHECKOUT <i class="d-icon-arrow-right"></i></router-link>
                        </div>
                        <div class="cart-coupon-box mb-8">
                            <h4 class="title coupon-title text-uppercase ls-m">Coupon Discount</h4>
                            <input type="text" name="coupon_code" class="input-text form-control text-grey ls-m mb-4"
                                id="coupon_code" value="" placeholder="Enter coupon code here...">
                            <button type="submit" class="btn btn-md btn-dark btn-rounded btn-outline">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <p class="alert alert-primary" style="color:white">No item in your cart</p>
                    <div class="cart-actions mb-6 pt-0">
                        <a href="/products" class="btn btn-dark btn-md btn-rounded btn-icon-left mr-4 mb-4"><i class="d-icon-arrow-left"></i>Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import {mapState} from 'vuex' 
export default {
    computed:{
        ...mapState({
            cart: (context) => context.cart
        }),
        calculateTotal(){
            let total = 0
            this.cart.forEach(element => {
                let price=element.quantity * element.price
                total += price
            });
            return total
        },
    },
    data(){
        return {
        }
    },
    methods:{
        changeQuantity(type, id){
            this.cart.forEach((element)=>{
                if(element.unique_id == id){
                    if(type == 'minus'){
                        element.quantity > 1 ? element.quantity = parseInt(element.quantity) - 1:''
                    }else{
                        element.quantity = parseInt(element.quantity) + 1
                    }
                }
            })
            
        },
        removeFromCart(id){
            let newA = []
            console.log(id)
            this.cart.map((element)=>{
                if(element.unique_id != id){
                    newA.push(element)
                }
            })
            this.$store.commit('setStateCart', newA)
            if(newA.length < 1){
                localStorage.removeItem('guardcart')
            }else{
                localStorage.setItem('guardcart',encodeURIComponent(JSON.stringify(newA)));
            }
            this.$store.commit('setNotification', {type:1, msg:'Item removed successfully'})
        },
    },
    created(){
    }
}
</script>

<style>

</style>