<template>
    <main class="main">
        <div class="page-header"
            style="background-image: url('images/shop/page-header-back.jpg'); background-color: #3C63A4;">
            <h3 class="page-subtitle">Category</h3>
            <h1 class="page-title">{{categorys.name}}</h1>
        </div>
        <!-- End PageHeader -->
        <div class="page-content mb-10 pb-6 mt-5" v-if="loaded">
            <div class="container">
                <div class="row main-content-wrap gutter-lg">
                    <div class="main-content">
                        <div class="row cols-2 cols-sm-3 cols-md-4 product-wrapper">
                            <div class="product-wrap" v-for="(product, index) in categorys.products" :key="index">
                                <div class="product">
                                    <figure class="product-media">
                                        <router-link :to="'/product/'+product.unique_id">
                                            <img :src="product.image" alt="product" class="img-fit prods-img">
                                        </router-link>
                                        <div class="product-label-group">
                                            <label class="product-label label-new">new</label>
                                        </div>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-cart" data-toggle="modal"
                                                data-target="#addCartModal" title="Add to cart"><i
                                                    class="d-icon-bag"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <router-link :to="'/product/'+product.unique_id" class="btn-product btn-quickview" title="Quick View">Quick
                                                View
                                            </router-link>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <!-- <div class="product-cat">
                                            <router-link :to="'categories/'+product.category.url_name">{{product.category.name}}</router-link>
                                        </div> -->
                                        <h3 class="product-name">
                                            <router-link :to="'/product/'+product.unique_id" class="text-capitalize">{{product.name}}</router-link>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">₦{{product.price}}</ins>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="javascript:void()" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    data(){
        return {
            categorys:[],
            loaded:false,
        }
    },
    methods:{
        singleCategory(){
            this.$store.dispatch('get', 'category/'+this.$route.params.url_name)
            .then((data) => {
                console.log(data.data.category);
                if(data.data.status){
                    this.loaded=true
                    this.categorys = data.data.category;
                }
                
            })
            .catch((error) => {
                console.log(error);
                this.$store.dispatch('handleError', error)
            });
        },
    },
    created(){
        this.singleCategory()
    }
}
</script>

<style scoped>

</style>