<template>
    <main class="main">
        <div class="page-content">
            <section class="intro-section">
                <div class="container">
                    <div class="grid row">
                        <div class="grid-item col-7-xl col-md-8 height-ex2">
                            <div class="intro-slider owl-carousel owl-theme owl-full-height owl-dot-inner owl-dot-white owl-full-height row  animation-slider cols-1 gutter-no appear-animate"
                                data-animation-options="{
                                'name': 'fadeInRightShorter',
                                'delay': '.3s'
                            }" data-owl-options="{
                                'items': 1,
                                'nav': false,
                                'loop': true, 
                                'dots': true,
                                'autoplay': true,
                                'animateOut': 'fadeOutLeft'
                            }">
                                <div
                                    class="intro-slide intro-slide1 banner banner-radius banner-fixed overlay-dark">
                                    <figure>
                                        <img src="@/assets/images/5.jpeg" width="580" height="510"
                                            alt="banner" style="background-color: #232024;" />
                                    </figure>
                                    <div class="banner-content y-50">
                                        <h4 class="banner-subtitle font-weight-bold text-primary ls-1 slide-animate show-content"
                                            data-animation-options="{
                                            'name': 'fadeInRightShorter',
                                            'duration': '1s'
                                        }">New Arrivals</h4>
                                        <h3 class="banner-title text-white ls-s font-weight-bold slide-animate show-content"
                                            data-animation-options="{
                                            'name': 'fadeInUpShorter',
                                            'delay': '.5s',
                                            'duration': '1s'
                                        }">Tactical <br>Defence with<br>Kubaton</h3>
                                        <router-link to="/products" class="btn btn-underline btn-white"
                                            data-animation-options="{
                                            'name': 'fadeInUpShorter',
                                            'delay': '1s',
                                            'duration': '1s'
                                        }">Shop now<i class="d-icon-arrow-right"></i></router-link>
                                    </div>
                                </div>
                                <div
                                    class="intro-slide intro-slide2 banner banner-fixed banner-radius overlay-dark">
                                    <figure>
                                        <img src="@/assets/images/8.jpeg" width="580" height="510"
                                            alt="banner" style="background-color: #efefef;" />
                                    </figure>
                                    <div class="banner-content y-50">
                                        <div class="slide-animate show-content" data-animation-options="{
                                            'name': 'fadeInRightShorter'
                                        }">
                                            <h4
                                                class="banner-subtitle  font-weight-bold text-primary text-uppercase ls-1">
                                                New Collection
                                            </h4>
                                            <h3 class="banner-title font-weight-bold mb-6 slide-animate show-content"
                                                data-animation-options="{
                                                'name': 'fadeInRightShorter'
                                            }">Fashionable<br>partner</h3>
                                            <router-link class="btn btn-link btn-underline btn-dark" to="/products">Shop now<i
                                                    class="d-icon-arrow-right"></i></router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-3-xl col-md-4 col-xs-6 height-ex1">
                            <div class="category category-absolute text-dark overlay-light banner-radius appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.3s'
                            }" style="background-color: #fbfbfb">
                                <a href="/products">
                                    <figure class="category-media">
                                        <img src="@/assets/images/3.jpeg" alt="category" width="280"
                                            height="245" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name text-white">Customized Defense Tool</h4>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-3-xl col-md-4 col-xs-6 height-ex1">
                            <div class="category category-absolute text-dark overlay-light banner-radius appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.3s'
                            }" style="background-color: #f5f5f5">
                                <a href="/products">
                                    <figure class="category-media">
                                        <img src="@/assets/images/5.jpeg" alt="category" width="280"
                                            height="245" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name text-white">Brand Sale</h4>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-3-xl col-md-4 col-xs-6 height-ex1">
                            <div class="category category-absolute text-white overlay-dark banner-radius appear-animate"
                                data-animation-options="{
                                'name': 'fadeInLeftShorter',
                                'delay': '.3s'
                            }" style="background-color: #191d25">
                                <a href="/products">
                                    <figure class="category-media">
                                        <img src="@/assets/images/7.jpg" alt="category" width="280"
                                            height="245" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <h4 class="category-name">Top Watches</h4>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-6 col-md-6 height-x1">
                            <div class="banner banner-fixed intro-banner1 overlay-light banner-radius appear-animate"
                                data-animation-options="{
                                'name': 'fadeInUpShorter',
                                'delay': '.3s'
                            }" style="background-color: #f5f5f5">
                                <figure>
                                    <img src="@/assets/images/demos/demo4/categories/5.jpg" alt="category" width="580"
                                        height="245" />
                                </figure>
                                <div class="banner-content text-right y-50">
                                    <h4 class="banner-title mb-2 font-weight-bold text-dark">Vision</h4>
                                    <p class="mb-0 ls-m">Our vision is to supply the best<br>
                                        equipment & expertise within the arb<br>
                                        most importantly, to keep our<br>
                                        customers at the heart of all we do.</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-lg-6 col-md-6 col-xs-6 height-x1">
                            <div class="banner banner-fixed intro-banner2 banner-radius overlay-dark banner-radius appear-animate"
                                data-animation-options="{
                                'name': 'fadeInUpShorter',
                                'delay': '.3s'
                            }" style="background-color: #aa4722">
                                <figure>
                                    <img src="@/assets/images/demos/demo4/categories/7.jpg" alt="category" width="280"
                                        height="245" />
                                </figure>
                                <div class="banner-content w-100 x-50 y-50 text-center pl-2 pr-2">
                                    <h4 class="banner-title text-uppercase font-weight-bold text-white ls-s">
                                        Hey!</h4>
                                    <p class="text-white ls-s mb-0">Spend $60 and get FREE US<br>mainland
                                        delivery*<br />(Order under $60 only /$4.75)</p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-space col-1"></div>
                    </div>
                </div>
            </section>

            <section class="mt-10 appear-animate" v-if="pLoaded">
                <div class="container">
                    <h2 class="title title-line title-underline with-link">New Arrivals<router-link to="/products">View more<i
                                class="d-icon-arrow-right"></i></router-link></h2>
                    <carousel v-if="Object.keys(this.products).length > 0"
                        :items=5
                        :nav=false
                        :loop=true
                        :dots=true
                        :margin=20
                        :responsive="{0: {items:2},768: {items: 3},992: {items: 4,}}" 
                        v-bind:style="`
                            visibility: visible;
                            padding-left:0px;
                            padding-right: 0px;
                            `"
                    >
                        <div class="product" v-for="(item, key) in products" :key="key">
                            <figure class="product-media">
                                <router-link :to="'/product/'+item.unique_id" style="background-color: #f7f8fa;">
                                    <!-- <h1>{{item.images}}</h1> -->
                                    <img :src="item.images[0]?item.images[0].name:item.category.image" alt="Blue Pinafore Denim Dress" style="object-fit:contain" class="prod-img">
                                </router-link>
                                <div class="product-label-group">
                                    <label class="product-label label-new">new</label>
                                </div>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-cart" @click="addToCartPlugin(item)" 
                                        title="Add to cart">
                                        <i class="d-icon-bag"></i>
                                    </a>
                                </div>
                                <div class="product-action">
                                    <router-link :to="'/product/'+item.unique_id" class="btn-product" title="Quick View">Quick View</router-link>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <router-link :to="'/categories/'+item.category.url_name">{{item.category.name}}</router-link>
                                </div>
                                <h3 class="product-name">
                                    <router-link :to="'/product/'+item.unique_id">{{item.name}}</router-link>
                                </h3>
                                <div class="product-price">
                                    <span class="price">₦{{item.price}}</span>
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:60%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="javascript:void()" class="rating-reviews">( 6 reviews )</a>
                                </div>
                            </div>
                        </div>
                    </carousel>
                    <!-- </div> -->
                    <div v-else>
                        <p class="alert alert-primary" style="font-size:15px; padding:10px 18px;color:white">No products available</p>
                    </div>
                </div>
            </section>

            <section class="category-section mt-0 pt-1" v-if="tcloaded">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6 mb-4" v-if="tcategory.length > 0">
                            <div class="category tcategory category-light category-absolute overlay-zoom"
                                style="background-color: #c0c4c8;">
                                <a :href="'/categories/'+tcategory[Object.keys(tcategory)[0]].url_name">
                                    <figure class="category-media">
                                        <img :src="tcategory[Object.keys(tcategory)[0]].image" class="img-fit" alt="category" style="object-fit:contain" width="280"
                                            height="245" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <a :href="'/categories/'+tcategory[Object.keys(tcategory)[0]].url_name" class="btn btn-white font-weight-semi-bold btn-rounded text-capitalize">
                                        Shop {{ tcategory[Object.keys(tcategory)[0]].name }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 mb-4 order-lg-last" v-if="tcategory.length > 1">
                            <div class="category tcategory category-light category-absolute overlay-zoom"
                                style="background-color: #1e1e1e;">
                                <a :href="'/categories/'+tcategory[Object.keys(tcategory)[1]].url_name">
                                    <figure class="category-media">
                                        <img :src="tcategory[Object.keys(tcategory)[1]].image" alt="category" width="280"
                                            height="245" class="img-fit" />
                                    </figure>
                                </a>
                                <div class="category-content">
                                    <a :href="'/categories/'+tcategory[Object.keys(tcategory)[1]].url_name" class="btn btn-white font-weight-semi-bold btn-rounded text-capitalize">
                                       Shop {{tcategory[Object.keys(tcategory)[1]].name}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 mb-4" v-if="tcategory.length > 2">
                            <div class="banner tcategory banner-fixed category-banner text-center"
                                style="background-color: #e6e7e7;">
                                <figure>
                                    <img :src="tcategory[Object.keys(tcategory)[2]].image" alt="category" width="280"
                                        height="245" />
                                </figure>
                                <div class="banner-content x-50 y-50 w-100">
                                    <h4 class="banner-subtitle text-white font-weight-bold mb-2">Black Friday Sale
                                    </h4>
                                    <h3 class="banner-title text-primary font-weight-bold text-uppercase">Up to 70%
                                        Off</h3>
                                    <h5 class="text-white font-weight-normal ls-normal text-uppercase">Everything
                                    </h5>
                                    <router-link :to="'/categories/'+tcategory[Object.keys(tcategory)[2]].url_name" class="btn btn-white btn-link btn-underline text-uppercase">
                                        Shop {{tcategory[Object.keys(tcategory)[2]].name}}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="banner video-banner"
                style="background-image: url(assets/images/banner.jpg); background-color: #7ca7bf;">
                <div class="banner-content ml-3 mr-3 text-uppercase text-center appear-animate"
                    data-animation-options="{
                    'name': 'fadeInUpShorter',
                    'delay': '.3s'
                }">
                    <h4 class="banner-subtitle ls-s text-white mb-0">Brand experience</h4>
                    <h3 class="banner-title mb-4 font-weight-bold text-white">Premium for the pros 2021</h3>
                    <a class="btn-play btn-iframe d-inline-flex justify-content-center align-items-center"
                        href="@/assets/video/memory-of-a-woman.mp4">
                        <i class="d-icon-play-solid"></i>
                    </a>
                </div>
            </section>

            <Featured></Featured>

            <section class="container banner-section mt-10">
                <div class="banner banner-cta banner-radius"
                    style="background-image: url(assets/images/cta.jpg); background-color: #403a38; ">
                    <div class="banner-content appear-animate d-flex flex-column align-items-center"
                        data-animation-options="{
                        'name': 'blurIn',
                        'delay': '.3s'
                    }">
                        <h4 class="banner-subtitle font-weight-normal text-uppercase text-white lh-1 ls-normal">Up
                            To 15% Discount</h4>
                        <h3
                            class="banner-title d-inline-block text-center font-weight-bold text-uppercase text-white ls-l">
                            For Fitness Collection</h3>
                        <a href="/products" class="btn btn-primary btn-rounded">shop now<i class="d-icon-arrow-right"></i></a>
                    </div>
                </div>
            </section>

            <section class="pt-10 pb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 mb-4" v-for="(item,key) in category" :key="key">
                            <div class="widget widget-products appear-animate" data-animation-options="{
                                'name': 'fadeInRightShorter',
                                'delay': '.3s'
                            }" v-if="key != 4" >
                                <h4 class="widget-title font-weight-bold">{{item.name}}</h4>
                                <div class="products-col">
                                    <div class="product product-list-sm" v-for="(product, key2) in item.products" :key="key2">
                                        <figure class="product-media" style="background-color: #f5f5f5;">
                                            <router-link :to="'product/'+product.unique_id">
                                                <img :src="product.image" alt="product"
                                                    width="100" height="100">
                                            </router-link>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-name">
                                                <a href="demo4-product.html">{{product.name}}</a>
                                            </h3>
                                            <div class="product-price">
                                                <span class="price">₦{{product.price}}</span>
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings-full">
                                                    <span class="ratings" style="width:20%"></span>
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <newsletter></newsletter>
    </main>
</template>
<script>
import carousel from 'vue-owl-carousel'
import newsletter from '@/components/layouts/newsletter'
import Featured from '../layouts/featured.vue'
export default {
    components:{
        newsletter,
        carousel,
        Featured,
    },
    data(){
        return {
            products:[],
            featured:[],
            category:[],
            tcategory:[],
            tcloaded:false,
            cLoaded:false,
            pLoaded:false,
        }
    },
    methods:{
        getProducts(){
            this.$store.dispatch('get', 'get-products/8')
            .then((data)=>{
                if(data.data.status){
                    // console.log(data.data)
                    this.pLoaded=true
                    this.products = data.data.products
                    console.log(this.products)
                    // console.log(Object.entries(this.products))
                }else{
                    this.$store.commit('setNotification',{type:2, msg:data.data.msg})
                }
            })
            .catch((error)=>{
                this.$store.dispatch('handleError', error);
            })
        },
        getCategory(){
            this.$store.dispatch('get', 'get-by-category')
            .then((data)=>{
                // console.log(data.data.category)
                if(data.data.status){
                    this.cLoaded=true
                    this.category = data.data.category
                }else{
                    this.$store.commit('setNotification',{type:2, msg:data.data.msg})
                }
            })
            .catch((error)=>{
                this.$store.dispatch('handleError', error);
            })
        },
        getTopCategories(){
            this.$store.dispatch('get', 'get-top-categories')
                .then((data)=>{
                    if(data.data.status){
                        this.tcloaded = true
                        this.tcategory = data.data.data
                    }else{
                        this.$store.commit('setNotification',{type:2,msg:data.data.msg})
                    }
                })
                .catch((error)=>{
                    this.$store.dispatch('handleError', error)
                })
        }
    },
    created(){
        this.getProducts()
        this.getCategory()
        this.getTopCategories()
    }
}
</script>
<style>
.VueCarousel-slide {
  visibility: visible;
  flex-basis: 100%;
  width: 100%;
}
</style>
<style scoped>
    .category img{
        height: 230px;
    }
    .category-banner img{
        height: 230px;
    }
    .appear-animate{
        visibility: visible;
        opacity: 1;
    }
    .prod-img{
        height:16em !important;
    }
    .height-ex1{
        height: 178px;
    }
    .height-ex2{
        height: 534px;
    }
    
</style>