<template>
    <main class="main mt-6 single-product">
        <div class="page-content mb-10 pb-6" v-if="loaded">
            <div class="container">
                <div class="product product-single row mb-4">
                    <div class="col-md-6">
                        <carousel v-if="product.images.length > 0"
                            :items=5
                            :nav=false
                            :loop=true
                            :dots=true
                            :margin=20
                            :responsive="{0: {items:1},768: {items: 1},992: {items: 1,}}"
                        >
                            <div class="product" v-for="(item, key) in product.images" :key="key">
                                <figure class="product-media">
                                    <a href="'javascript:void()" style="background-color: #f7f8fa;">
                                        <img :src="item.name" alt="Blue Pinafore Denim Dress"
                                            style="object-fit:contain" class="prod-img">
                                    </a>
                                </figure>
                            </div>
                        </carousel>
                    </div>
                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-name text-capitalize">{{product.name}}</h1>
                            <div class="product-meta">
                                CATEGORY: <span class="product-brand text-uppercase">{{product.category.name}}</span>
                            </div>
                            <div class="product-price">₦{{product.price}}</div>
                            <div class="ratings-container">
                                <div class="ratings-full">
                                    <span class="ratings" style="width:60%"></span>
                                    <span class="tooltiptext tooltip-top"></span>
                                </div>
                                <a href="#product-tab-reviews" class="link-to-tab rating-reviews">( 35
                                    reviews )</a>
                            </div>
                            <p class="product-short-desc">
                                {{product.description}}    
                            </p>
                            <div class="product-form product-color align-items-center">
                                <label style="min-width:fit-content">Color:</label>
                                <div class="product-variations d-flex">
                                    <div class="d-flex align-items-center mb-3 ml-1" v-for="(color, ind) in JSON.parse(product.colors)" :key="ind">
                                        <input type="checkbox" class="form-check-input" :id="ind" :value="color" v-model="cart.colors">
                                        <label class="form-check-label" :for="ind" :style="'background:'+color"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-variation-price">
                                <span>$239.00</span>
                            </div>

                            <hr class="product-divider">

                            <div class="product-form product-qty">
                                <div class="product-form-group">
                                    <div class="input-group mr-2">
                                        <button class="quantity-minus d-icon-minus" @click="changeQuantity('minus')"></button>
                                        <input class="quantity form-control" type="number" min="1"
                                            max="1000000" v-model="cart.quantity">
                                        <button class="quantity-plus d-icon-plus" @click="changeQuantity('add')"></button>
                                    </div>
                                    <button class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold" @click="addToCart()">
                                        <i class="d-icon-bag"></i>Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab tab-nav-simple product-tabs">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#product-tab-description">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#product-tab-reviews">Reviews (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active in" id="product-tab-description">
                            <div class="row mt-6">
                                <div class="col-md-6">
                                    <h5 class="description-title mb-4 font-weight-semi-bold ls-m">Features</h5>
                                    <p class="mb-2">
                                        Praesent id enim sit amet.Tdio vulputate eleifend in in tortor.
                                        ellus massa. siti iMassa ristique sit amet condim vel, facilisis
                                        quimequistiqutiqu amet condim Dilisis Facilisis quis sapien. Praesent id
                                        enim sit amet.
                                    </p>
                                    <ul class="mb-8">
                                        <li>Praesent id enim sit amet.Tdio vulputate</li>
                                        <li>Eleifend in in tortor. ellus massa.Dristique sitii</li>
                                        <li>Massa ristique sit amet condim vel</li>
                                        <li>Dilisis Facilisis quis sapien. Praesent id enim sit amet</li>
                                    </ul>
                                    <h5 class="description-title mb-3 font-weight-semi-bold ls-m">Specifications
                                    </h5>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th class="font-weight-semi-bold text-dark pl-0">Material</th>
                                                <td class="pl-4">Praesent id enim sit amet.Tdio</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-semi-bold text-dark pl-0">Claimed Size</th>
                                                <td class="pl-4">Praesent id enim sit</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-semi-bold text-dark pl-0">Recommended Use
                                                </th>
                                                <td class="pl-4">Praesent id enim sit amet.Tdio vulputate eleifend
                                                    in in tortor. ellus massa. siti</td>
                                            </tr>
                                            <tr>
                                                <th class="font-weight-semi-bold text-dark border-no pl-0">
                                                    Manufacturer</th>
                                                <td class="border-no pl-4">Praesent id enim</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 pl-md-6 pt-4 pt-md-0">
                                    <h5 class="description-title font-weight-semi-bold ls-m mb-5">Shipping fee</h5>
                                    <div class="icon-box-wrap d-flex flex-wrap">
                                        <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4 mr-10">
                                            <div class="icon-box-icon">
                                                <i class="d-icon-lock"></i>
                                            </div>
                                            <div class="icon-box-content">
                                                <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">2 year
                                                    warranty</h4>
                                                <p>Guarantee with no doubt</p>
                                            </div>
                                        </div>
                                        <div class="divider d-xl-show mr-10"></div>
                                        <div class="icon-box icon-box-side icon-border pt-2 pb-2 mb-4">
                                            <div class="icon-box-icon">
                                                <i class="d-icon-truck"></i>
                                            </div>
                                            <div class="icon-box-content">
                                                <h4 class="icon-box-title lh-1 pt-1 ls-s text-normal">Free shipping
                                                </h4>
                                                <p>On orders over $50.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="product-tab-reviews">
                            <div class="comments mb-8 pt-2 pb-2 border-no">
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <figure class="comment-media">
                                                <a href="#">
                                                    <img src="../../assets/images/blog/comments/1.jpg" alt="avatar">
                                                </a>
                                            </figure>
                                            <div class="comment-body">
                                                <div class="comment-rating ratings-container mb-0">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:80%"></span>
                                                        <span class="tooltiptext tooltip-top">4.00</span>
                                                    </div>
                                                </div>
                                                <div class="comment-user">
                                                    <span class="comment-date text-body">September 22, 2020 at 9:42
                                                        pm</span>
                                                    <h4><a href="#">John Doe</a></h4>
                                                </div>

                                                <div class="comment-content">
                                                    <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor
                                                        libero sodales leo,
                                                        eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.
                                                        Suspendisse potenti.
                                                        Sed egestas, ante et vulputate volutpat, eros pede semper
                                                        est, vitae luctus metus libero eu augue.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment">
                                            <figure class="comment-media">
                                                <a href="#">
                                                    <img src="../../assets/images/blog/comments/2.jpg" alt="avatar">
                                                </a>
                                            </figure>

                                            <div class="comment-body">
                                                <div class="comment-rating ratings-container mb-0">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width:80%"></span>
                                                        <span class="tooltiptext tooltip-top">4.00</span>
                                                    </div>
                                                </div>
                                                <div class="comment-user">
                                                    <span class="comment-date text-body">September 22, 2020 at 9:42
                                                        pm</span>
                                                    <h4><a href="#">John Doe</a></h4>
                                                </div>

                                                <div class="comment-content">
                                                    <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor
                                                        libero sodales leo, eget blandit nunc tortor eu nibh. Nullam
                                                        mollis.
                                                        Ut justo. Suspendisse potenti. Sed egestas, ante et
                                                        vulputate volutpat,
                                                        eros pede semper est, vitae luctus metus libero eu augue.
                                                        Morbi purus libero,
                                                        faucibus adipiscing, commodo quis, avida id, est. Sed
                                                        lectus. Praesent elementum
                                                        hendrerit tortor. Sed semper lorem at felis. Vestibulum
                                                        volutpat.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Comments -->
                            <div class="reply">
                                <div class="title-wrapper text-left">
                                    <h3 class="title title-simple text-left text-normal">Add a Review</h3>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                </div>
                                <div class="rating-form">
                                    <label for="rating" class="text-dark">Your rating * </label>
                                    <span class="rating-stars selected">
                                        <a class="star-1" href="#">1</a>
                                        <a class="star-2" href="#">2</a>
                                        <a class="star-3" href="#">3</a>
                                        <a class="star-4 active" href="#">4</a>
                                        <a class="star-5" href="#">5</a>
                                    </span>

                                    <select name="rating" id="rating" required="" style="display: none;">
                                        <option value="">Rate…</option>
                                        <option value="5">Perfect</option>
                                        <option value="4">Good</option>
                                        <option value="3">Average</option>
                                        <option value="2">Not that bad</option>
                                        <option value="1">Very poor</option>
                                    </select>
                                </div>
                                <form action="#">
                                    <textarea id="reply-message" cols="30" rows="6" class="form-control mb-4"
                                        placeholder="Comment *" required></textarea>
                                    <div class="row">
                                        <div class="col-md-6 mb-5">
                                            <input type="text" class="form-control" id="reply-name"
                                                name="reply-name" placeholder="Name *" required />
                                        </div>
                                        <div class="col-md-6 mb-5">
                                            <input type="email" class="form-control" id="reply-email"
                                                name="reply-email" placeholder="Email *" required />
                                        </div>
                                    </div>
                                    <div class="form-checkbox mb-4">
                                        <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                            name="signin-remember" />
                                        <label class="form-control-label" for="signin-remember">
                                            Save my name, email, and website in this browser for the next time I
                                            comment.
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-rounded">Submit<i
                                            class="d-icon-arrow-right"></i></button>
                                </form>
                            </div>
                            <!-- End Reply -->
                        </div>
                    </div>
                </div>

                <section class="pt-3 mt-10">
                    <h2 class="title justify-content-center">Related Products</h2>
                    <Featured></Featured>
                </section>
            </div>
        </div>
    </main>
</template>

<script>
import carousel from 'vue-owl-carousel'
import Featured from '../layouts/featured.vue'
export default {
    components:{
        carousel,
        Featured,
    },
    data(){
        return{
            loaded:false,
            product: [],
            cart:{
                quantity:1,
                colors:[]
            }
        }
    },
    methods:{
        changeQuantity(type){
            if(type == 'minus'){
                this.cart.quantity > 1 ? this.cart.quantity = parseInt(this.cart.quantity) - 1:''
            }else{
                this.cart.quantity = parseInt(this.cart.quantity) + 1
            }
        },
        singleProduct(){
            this.$store.dispatch('get', 'product/'+this.$route.params.unique_id)
            .then((data) => {
                // console.log(data.data.product.length);
                if(data.data.status){
                    this.loaded=true
                    console.log(this.loaded)
                    this.product = data.data.product;
                    console.log(JSON.parse(this.product.colors))
                }
                
            })
            .catch((error) => {
                console.log(error);
                this.$store.dispatch('handleError', error)
            });
        },
        addToCart(){
            var data = {
                unique_id: this.product.unique_id,
                name:this.product.name,
                image:this.product.images[0].name,
                quantity: this.cart.quantity,
                price: this.product.price,
                colors: this.cart.colors
            }

            // console.log(data)
            this.$store.commit('addToCart', data)
        }
    },
    created(){
        this.singleProduct();
    }
}
</script>

<style scoped>
    .prod-img{
        height:25em !important;
        object-fit: contain;
    }
    input[type="checkbox"]{
        -webkit-appearance:square-button;
    }
    .form-check-label{
        border:1px solid black; height:23px;width:23px
    }
</style>