<template>
    <main class="main">
        <!-- <div class="page-header"
            style="background-image: url('images/shop/page-header-back.jpg'); background-color: #3C63A4;">
            <h3 class="page-subtitle">Categories</h3>
            <h1 class="page-title">OFF-CANVAS FILTER</h1>
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li class="delimiter">/</li>
                <li>Products tagged “off-canvas filter”</li>
            </ul>
        </div> -->
        <!-- End PageHeader -->
        <div class="page-content mb-10 pb-6">
            <div class="container">
                <div class="row main-content-wrap gutter-lg">
                    <div class="main-content">
                        <nav class="toolbox sticky-toolbox sticky-content fix-top">
                            <div class="toolbox-left">
                                <a href="#"
                                    class="toolbox-item left-sidebar-toggle btn btn-outline btn-primary btn-rounded btn-icon-right">Filter<i
                                        class="d-icon-arrow-right"></i></a>
                                <div class="toolbox-item toolbox-sort select-box text-dark">
                                    <label>Sort By :</label>
                                    <select name="orderby" class="form-control">
                                        <option value="default">Default</option>
                                        <option value="popularity" selected="selected">Most Popular</option>
                                        <option value="rating">Average rating</option>
                                        <option value="date">Latest</option>
                                        <option value="price-low">Sort forward price low</option>
                                        <option value="price-high">Sort forward price high</option>
                                        <option value="">Clear custom sort</option>
                                    </select>
                                </div>
                            </div>
                        </nav>
                        <div class="row cols-2 cols-sm-3 cols-md-4 product-wrapper" v-if="products.length > 0">
                            <div class="product-wrap" v-for="(product, index) in products" :key="index">
                                <div class="product">
                                    <figure class="product-media">
                                        <router-link :to="'product/'+product.unique_id">
                                            <img :src="product.images[0]?product.images[0].name:product.category.image" alt="product" class="img-fit prods-img">
                                        </router-link>
                                        <div class="product-label-group">
                                            <label class="product-label label-new">new</label>
                                        </div>
                                        <div class="product-action-vertical">
                                            <a href="" class="btn-product-icon btn-cart" @click.prevent="addToCartPlugin(product)" title="Add to cart"><i
                                                    class="d-icon-bag"></i></a>
                                        </div>
                                        <div class="product-action">
                                            <router-link :to="'product/'+product.unique_id" class="btn-product btn-quickview" title="Quick View">Quick
                                                View
                                            </router-link>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <div class="product-cat">
                                            <router-link :to="'categories/'+product.category.url_name">{{product.category.name}}</router-link>
                                        </div>
                                        <h3 class="product-name">
                                            <router-link :to="'product/'+product.unique_id" class="text-capitalize">{{product.name}}</router-link>
                                        </h3>
                                        <div class="product-price">
                                            <ins class="new-price">₦{{product.price}}</ins>
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width:100%"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="javascript:void()" class="rating-reviews">( 6 reviews )</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <p class="alert alert-primary" style="font-size:15px; padding:10px 18px;color:white">No products available</p>
                        </div>
                        <div class="controls text-right pt-3 pr-3 pb-3">
                            <button  @click="fetchProducts(current_page - 1)" :disabled="prev == null" class="btn bg-color-2 text-color-white mr-2" style="border-radius:0px">Prev</button>
                            <button @click="fetchProducts(current_page + 1)" :disabled="next == null"  class="btn bg-color-2 text-color-white mr-2" style="border-radius:0px">Next</button>
                        </div>
                    </div>
                    <aside class="col-lg-3 sidebar shop-sidebar">
                        <div class="sidebar-overlay"></div>
                        <a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
                        <div class="sidebar-content">
                            <div class="filter-actions mb-4">
                                <a href="#"
                                    class="sidebar-toggle-btn toggle-remain btn btn-sm btn-outline 
                                        btn-primary btn-rounded btn-icon-right">Filter<i
                                        class="d-icon-arrow-left"></i></a>
                                <a href="#" class="filter-clean text-primary">Clean All</a>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Product Categories</h3>
                                <ul class="widget-body filter-items search-ul">
                                    <li>
                                        <a href="#">Clothing<span class="count">(6)</span></a>
                                        <ul style="display: block">
                                            <li><a href="#">Summer sale<span class="count">(2)</span></a></li>
                                            <li><a href="#">Shirts<span class="count">(3)</span></a></li>
                                            <li><a href="#">Trunks<span class="count">(1)</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">Filter by Price</h3>
                                <div class="widget-body">
                                    <form action="javascript:void()">
                                        <div class="filter-price-slider"></div>

                                        <div class="filter-actions">
                                            <div class="filter-price-text mb-4">Price:
                                                <span class="filter-price-range"></span>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-dark btn-filter btn-rounded">Filter</button>
                                        </div>
                                    </form><!-- End Filter Price Form -->
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    data(){
        return {
            products: [],
            next:null,
            prev:null,
            current_page:1
        }
    },
    methods:{
        fetchProducts(page=1){
            if(page < 1){
                return false;
            }
            this.$store.dispatch('get', 'products?page='+page)
            .then((data) => {
                this.products = data.data.products.data;
                console.log(this.products);
                this.next = data.data.next_page_url;
                this.prev = data.data.prev_page_url;
                this.current = data.data.current_page;
            })
            .catch((error) => {
                console.log(error);
            })
        }
    },
    created(){
        this.fetchProducts();
    }
}
</script>

<style scoped>
    .prods-img{
        height: 16em;
    }
</style>