<template>
    <main class="main checkout">
        <div class="page-content pt-7 pb-10 mb-10">
            <div class="step-by pr-4 pl-4">
                <h3 class="title title-simple title-step"><router-link to="/cart">1. Shopping Cart</router-link></h3>
                <h3 class="title title-simple title-step active"><router-link to="/checkout">2. Checkout</router-link></h3>
            </div>
            <div class="container mt-7">
                <form action="#" class="form">
                    <div class="row">
                        <div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
                            <h3 class="title title-simple text-left text-uppercase">Billing Details</h3>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>First Name *</label>
                                    <input type="text" v-model="user.firstname" class="form-control" name="first-name" required="" />
                                </div>
                                <div class="col-xs-6">
                                    <label>Last Name *</label>
                                    <input type="text" v-model="user.lastname" class="form-control" name="last-name" required="" />
                                </div>
                            </div>
                            <label>Email Address *</label>
                            <input type="text" v-model="user.email" class="form-control" name="email-address" disabled />
                            <div class="col-12">
                                <label>Country *</label>
                                <input type="text" v-model="user.country" class="form-control" name="last-name" required="" />
                            </div>
                            <label>Street Address *</label>
                            <input type="text" class="form-control" v-model="user.address" name="address1" required=""
                                placeholder="House number and street name" />
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>Town / City *</label>
                                    <input type="text" v-model="user.city" class="form-control" name="city" required="" />
                                </div>
                                <div class="col-xs-6">
                                    <label>State *</label>
                                    <input type="text" v-model="user.state" class="form-control" name="state" required="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label>ZIP *</label>
                                    <input type="text" v-model="user.zip" class="form-control" name="zip" required="" />
                                </div>
                                <div class="col-xs-6">
                                    <label>Phone *</label>
                                    <input type="text" v-model="user.phone" class="form-control" name="phone" required="" />
                                </div>
                            </div>
                            <h2 class="title title-simple text-uppercase text-left">Additional Information</h2>
                            <label>Order Notes (Optional)</label>
                            <textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div>
                        <aside class="col-lg-5 sticky-sidebar-wrapper">
                            <div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
                                <div class="summary pt-5">
                                    <h3 class="title title-simple text-left text-uppercase">Your Order</h3>
                                    <table class="order-table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in cart" :key="index">
                                                <td class="product-name">{{item.name}} <span
                                                        class="product-quantity">×&nbsp;{{item.quantity}}</span></td>
                                                <td class="product-total text-body">₦{{item.price}}</td>
                                            </tr>
                                            <tr class="summary-subtotal">
                                                <td>
                                                    <h4 class="summary-subtitle">Subtotal</h4>
                                                </td>
                                                <td class="summary-subtotal-price pb-0 pt-0">₦{{calculateTotal}}
                                                </td>
                                            </tr>
                                            <tr class="sumnary-shipping shipping-row-last">
                                                <td colspan="2">
                                                    <h4 class="summary-subtitle">Calculate Shipping</h4>
                                                    <label class="mb-1">Shipping address</label>
                                                     <div class="select-box">
                                                        <select :style="noAddress?'border:1px solid red':''" name="country" class="form-control mb-0" @change="addShippingFee($event)">
                                                            <option value="0">Select shipping address</option>
                                                            <option v-for="(item, index) in shipping" :key="index" :value="item.state" >
                                                                {{item.state}} - ₦{{item.price}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td class="pb-0">
                                                    <h4 class="summary-subtitle">Total</h4>
                                                </td>
                                                <td class=" pt-0 pb-0">
                                                    <p class="summary-total-price ls-s text-primary">₦{{total}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-checkbox mt-4 mb-5">
                                        <input type="checkbox" class="custom-checkbox" id="terms-condition"
                                            name="terms-condition" required />
                                        <label class="form-control-label" for="terms-condition">
                                            I have read and agree to the website terms and conditions*
                                        </label>
                                    </div>
                                    <button @click.prevent="placeOrder()" class="btn btn-dark btn-rounded btn-order">Place Order</button>
                                </div>
                            </div>
                        </aside>
                    </div>
                </form>
            </div>
        </div>
    </main>
</template>

<script>
    import {mapState} from 'vuex'
    export default{
        computed:{
            ...mapState({
                cart: (context) => context.cart,
                user: (context) => context.user
            }),
            calculateTotal(){
                let total = 0
                this.cart.forEach(element => {
                    let price=element.quantity * element.price
                    total += price
                });
                return total
            },
        },
        data(){
            return {
                'shipping':[],
                'total':0,
                'shipping_address':'',
                'noAddress':false,
                'updated':false,
            }
        },
        methods:{
            placeOrder(){
                for(const key in this.user){
                    if(key != 'token' && key != 'updated_at' && key != 'gender' && key != 'created_at'){
                        if(!this.user[key] || this.user[key].length < 1){
                            this.$store.commit('setNotification', {type:2, msg:key+' field is required'})
                            return false
                        }
                    }
                }
                if(this.shipping_address == 0){
                    this.noAddress = true
                    this.$store.commit('setNotification', {type:2, msg:'Please select a shipping address'})
                    return false
                }else{
                    this.noAddress=false
                }

                this.$store.dispatch('post', {endpoint:'update-profile', details:this.user})
                .then((data)=>{
                    console.log(data)
                    if(data.data.status){
                        this.saveOrder();
                    }else{
                        this.$store.commit('setNotification', {type:2, msg:data.data.msg})
                    }
                })
                .catch((error)=>{
                    console.log(error)
                    this.$store.dispatch('handleError', error)
                })
            },
            saveOrder(){
                let parse = JSON.stringify(this.cart)
                let details={
                    data:parse,
                    address:this.shipping_address,
                    total:this.total,
                }
                this.$store.dispatch('post', {endpoint:'save-order', details:details})
                .then((data)=>{
                    console.log(data)
                })
                .catch((error)=>{
                    console.log(error)
                    this.$store.dispatch('handleError', error);
                })
            },
            addShippingFee(event){
                if(event.target.value == 0){
                    this.total = this.calculateTotal
                }
                this.shipping.forEach((element)=>{
                    if(element.state == event.target.value){
                        this.total = parseFloat(this.calculateTotal) + parseFloat(element.price)
                    }
                })
                this.shipping_address = event.target.value
                
            },
            getShippingFee(){
                this.$store.dispatch('get', 'get-shipping-fee')
                .then((data)=>{
                    if(data.data.status){
                        this.shipping = data.data.data
                    }
                })
                .catch((error)=>{
                    this.$store.dispatch('handleError', error)
                })
            },
        },
        created(){
            this.getShippingFee()
        }
    }
</script>
<style>

</style>