<template>
    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="welcome mt-3">
                    <h4>Welcome 
                        <span v-if="user.firstname">{{user.firstname}}</span>
                        <span v-else>back</span>
                    </h4>
                </div>
                <div class="row elements mt-4">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="element-categories.html" class="element-type">
                            <div class="element element-category">
                                <h1>12</h1>
                                <p>Orders</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="element-products.html" class="element-type">
                            <div class="element element-product">
                                <h1>9</h1>
                                <p>Deliveries</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="element-tabs.html" class="element-type">
                            <div class="element element-tab">
                                <h1>21</h1>
                                <p>tabs</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <a href="element-testimonials.html" class="element-type">
                            <div class="element element-testimonial">
                                <h1>33</h1>
                                <p>testimonials</p>
                            </div>
                        </a>
                    </div>
                </div>
                <featured></featured>
            </div>
        </div>
    </main>
</template>

<script>
import featured from '../layouts/featured.vue'
import {mapState} from 'vuex'
export default {
    components: { featured },
    computed:{
        ...mapState({
            user:(context)=>context.user
        }),
    },
}
</script>

<style scoped>
    .element h1{
        margin-bottom: 0;
    }
    .element p{
        margin-top: 0;
    }
    .elements>div:hover {
        transform: scale(1);
    }
</style>