<template>
    <main class="main account">
			<div class="page-content mt-4 mb-10 pb-6">
				<div class="container">
					<div class="tab tab-nav-center tab-nav-boxed tab-nav-solid tab-nav-round">
						<ul class="nav nav-tabs justify-content-start" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#dashboard">Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#account">Profile details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#orders">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#address">Address</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login.html">Logout</a>
							</li>
						</ul>
						<div class="tab-content col-lg-9 col-md-8">
							<div class="tab-pane active" id="dashboard">
                                <div class="row">
                                    <div class="col-xl-5col col-lg-4 col-md-4 col-sm-6 col-12 pt-2">
                                        <a href="element-blog-posts.html" class="element-type">
                                            <div class="element element-blog">
                                                <h1>10</h1>
                                                <p>blog posts</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-5col col-lg-4 col-md-4 col-sm-6 col-12 pt-2">
                                        <a href="element-blog-posts.html" class="element-type">
                                            <div class="element element-blog">
                                                <h1>13</h1>
                                                <p>blog posts</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xl-5col col-lg-4 col-md-4 col-sm-6 col-12 pt-2">
                                        <a href="element-blog-posts.html" class="element-type">
                                            <div class="element element-blog">
                                                <h1>11</h1>
                                                <p>blog posts</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
							</div>
							<div class="tab-pane" id="orders">
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th class="pl-2">Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th class="pr-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="order-number"><a href="#">#4523</a></td>
                                            <td class="order-date"><time>Jun 6, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$564.00 for 3 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#4526</a></td>
                                            <td class="order-date"><time>Jun 19, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$123.00 for 8 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>
							<div class="tab-pane" id="account">
								<form action="#" class="form">
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											<input type="text" class="form-control" name="first_name" required="">
										</div>
										<div class="col-sm-6">
											<label>Last Name *</label>
											<input type="text" class="form-control" name="last_name" required="">
										</div>
									</div>

									<label>Display Name *</label>
									<input type="text" class="form-control mb-0" name="display_name" required="">
									<small class="d-block form-text mb-7">This will be how your name will be displayed
										in the account section and in reviews</small>

									<label>Email Address *</label>
									<input type="email" class="form-control" name="email" required="">
                                    <fieldset>
                                        <legend>Password Change</legend>
                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="current_password">

                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="new_password">

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control" name="confirm_password">
                                    </fieldset>

									<button type="submit" class="btn btn-primary">SAVE CHANGES</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
</template>

<script>
export default {

}
</script>

<style scoped>
    .nav-tabs .nav-item{
        border: 0;
        margin-right: 14px;
    }
    .nav-tabs .nav-item a{
        padding:15px 22px;
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px 15px;
        border-radius: 10px;
    }
    .tab-vertical .nav-tabs{
        border: 1px solid #ebebeb;
    }
    .element h1{
        margin-bottom: 0;
    }
    .element p{
        margin: 0;
    }
</style>