<template>
	<div>
    <notification></notification>
		<router-view></router-view>
	</div>
</template>

<script>
export default {
  name: 'App',
  methods:{
    getCart(){
      var stg=window.localStorage.getItem('guardcart');
      stg = JSON.parse(decodeURIComponent(stg))
      this.$store.commit('setStateCart', stg)
    }
  },
  created(){
    this.getCart();

    this.$store.dispatch('getUser')
    
    if(this.$route.meta.AuthRequired || this.$route.matched.find((d)=>d.meta.AuthRequired)){
      var user=localStorage.getItem('guardmetrics');
      if(!user){
        this.$router.push('/login');
      }
      user = decodeURIComponent(user);
      user = JSON.parse(user);
      this.$store.commit('setUser', user);
    }
  }
}
</script>

<style>

</style>
