<template>
    <router-view></router-view>
</template>

<script>
export default {
    created(){
        // this.$store.dispatch('getUser')
        this.$store.dispatch('getDashboard')
        console.log(this.$store.state.user)
    }
}
</script>

<style>

</style>