<template>
    <main class="main">
        <div class="page-content mt-6 pb-2 mb-10 ">
            <div class="container">
                <div class="login-popup fgp-wrapper">
                    <div class="form-box">
                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Forgot Password</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="signin">
                                    <notification/>
                                    <form @submit.prevent="forgotPassword()">
                                        <div class="form-group mb-3">
                                            <input type="text" v-model="user.email" class="form-control" id="singin-email" name="singin-email" placeholder="Enter your email *" />
                                        </div>
                                        
                                        <button class="btn btn-dark btn-block btn-rounded" type="submit">
                                            <span v-if="!loading">Send</span>
                                            <span v-else>Sending</span>
                                        </button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data(){
            return {
                user:{
                    email: '',
                },
                success_msg:"",
                error_message:[],
                loading: false
            }
        },
        methods:{
            forgotPassword(){
                if(this.user.email.length == 0){
                    this.error_message = 'Email field is required';
                    this.$store.commit('setNotification',{type:1, msg: this.error_message});
                }

                this.loading = true
                this.$store.dispatch('post', {
                    details: this.user,
                    endpoint: 'forget-password'
                })
                .then((data)=>{
                    console.log(data.data);
                    this.$store.commit('setNotification',{type:1, msg: "Reset mail has been sent to your email"});
                    this.loading= false;
                })
                .catch((error) => {
                    if(error.request != null){
                        this.$store.dispatch("handleError",error); 
                    }

                    this.loading= false;
                });
            }
        }
    }
</script>

<style scoped>
    .fgp-wrapper{
        margin-top: 170px;
    }
</style>