<template>
    <!-- End Header -->
    <main class="main">
        <!-- <nav class="breadcrumb-nav">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="d-icon-home"></i></a></li>
                    <li>My Account</li>
                </ul>
            </div>
        </nav> -->
        <div class="page-content mt-6 pb-2 mb-10">
            <div class="container">
                <div class="login-popup">
                    <div class="form-box">
                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Login</a>
                                </li>
                                <li class="delimiter">or</li>
                                <li class="nav-item">
                                    <a class="nav-link border-no lh-1 ls-normal" href="#register">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="signin">
                                    <form @submit.prevent="login()">
                                        <div class="form-group mb-3">
                                            <input type="text" v-model="user.email" class="form-control" id="singin-email" name="singin-email" placeholder="Username or Email Address *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" v-model="user.password" class="form-control" id="singin-password" name="singin-password" placeholder="Password *"
                                               />
                                        </div>
                                        <div class="form-footer">
                                            <div class="form-checkbox">
                                                <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                                    name="signin-remember" />
                                                <label class="form-control-label" for="signin-remember">Remember
                                                    me</label>
                                            </div>
                                            <router-link to="/forgot-password" class="lost-link">Lost your password?</router-link>
                                        </div>
                                        <button class="btn btn-dark btn-block btn-rounded" type="submit">
                                            <span v-if="!loading" >Login</span>
                                            <span v-else >Loading</span>
                                        </button>
                                    </form>
                                    <div class="form-choice text-center">
                                        <label class="ls-m">or Login With</label>
                                        <div class="social-links">
                                            <a href="#" class="social-link social-google fab fa-google border-no"></a>
                                            <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                            <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                                        </div>
                                    </div>
                                </div>
                                <register/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
import register from './register'

export default {
    components:{
        register
    },
    data(){
        return{
            user:{
                email: "",
                password: "",
            },
            error_message: [],
            loading: false
        }
    },
    methods: {
        login(){
            if(this.user.email.length ===0 || this.user.password.length ===0){
                this.$store.commit('setNotification',{type:2, msg: 'Invalid details'});
                return false
            }

            this.loading = true;

            this.$store.dispatch('post', {
                endpoint: 'login',
                details: this.user
            }).then((data) => {
                console.log(data)
                if(data.data.status){
                    var result = data.data;
                    result.token = data.data.token
                    console.log(result)
                    this.$store.commit('setUser', result);
                    this.$store.commit('setNotification',{type:1, msg: 'Login successful'})
                    this.$router.push({path:'/dashboard'});
                    
                }else{
                    this.$store.commit('setNotification',{type:2, msg: data.data.msg})
                }
                this.loading = false;
            }).catch((error) =>{
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }

                this.loading= false;
            });
        }
    }
}
</script>

<style>

</style>