<template>
    <div class="tab-pane" id="register">
        <form>
            <div class="form-group mb-3">
                <input type="text" v-model="user.email" class="form-control" id="register-email"  placeholder="Your Email Address *" />
            </div>
            <div class="form-group">
                <input type="password" v-model="user.password" class="form-control" id="register-passowrd" placeholder="Password *"/>
            </div>
            <div class="form-group">
                <input type="password" v-model="user.password_confirmation" class="form-control"  placeholder="Confirm Password *"/>
            </div>
            <div class="form-footer">
                <div class="form-checkbox">
                    <input type="checkbox" class="custom-checkbox" id="signin-remember"
                        name="signin-remember" />
                    <label class="form-control-label" for="signin-remember">I agree to the privacy and policy</label>
                </div>
            </div>
            <button class="btn btn-dark btn-block btn-rounded" @click.prevent="register()">
                <span v-if="!loading">Register</span>
                <span v-else>Loading</span>
            </button>
        </form>
        <div class="form-choice text-center">
            <label class="ls-m">or Register With</label>
            <div class="social-links">
                <a href="#" class="social-link social-google fab fa-google border-no"></a>
                <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            user:{
                email: "",
                password: "",
                password_confirmation: ""
            },
            error_message: [],
            loading: false
        }
    },
    methods: {
        register(){
            if(this.user.email.length == 0){
                this.$store.commit('setNotification',{type:2, msg: 'invalid details'});
                return false;
            }

            if(this.user.password !== this.user.password_confirmation){
                this.$store.commit('setNotification',{type:2, msg: 'Passwords do not match'});
                return false;
            }

            this.loading = true;

            this.$store.dispatch('post', {
                endpoint: 'create-account',
                details: this.user
            }).then((data) => {
                console.log(data);
                if(data.data.status){
                    var user = data.data;
                    // console.log(user)
                    this.$store.commit('setUser', user);
                    this.$router.push({path:'/dashboard'});
                }
                else{
                    var e_msg = data.data.message;
                    this.$store.commit('setNotification',{type:2, msg: e_msg})
                }
                this.loading = false;
            }).catch((error) => {
                console.log(error);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }

                this.loading = false;
            });
        }
    }
}
</script>

<style>

</style>