<template>
    <main class="main">
        <div class="page-content mt-6 pb-2 mb-10">
            <div class="container">
                <div class="login-popup fgp-wrapper">
                    <div class="form-box">
                        <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                            <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Reset Password</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="signin">
                                    <notification/>
                                    <form @submit.prevent="reset()">
                                        <div class="form-group mb-3">
                                            <input type="password" v-model="psw.password" class="form-control" id="singin-email" name="singin-email" placeholder="Password *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" v-model="psw.password_confirmation" class="form-control" id="singin-password" name="singin-password" placeholder="Confirm Password *"
                                               />
                                        </div>
                                        <button class="btn btn-dark btn-block btn-rounded" type="submit">
                                            <span v-if="!loading">Reset Password</span>
                                            <span v-else>Loading</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data(){
            return {
                psw:{
                    token:'',
                    password:'',
                    password_confirmation:'',
                },
                loading:false
            }
        },
        methods:{
            verifyAccount(){ 
                this.loading=true;
                this.$store.commit('setNotification',{type:0,msg:''});
                this.$store.dispatch('get','verify-reset-token?code='+this.$route.params.token)
                .then((data)=>{
                    this.loading=false;
                    if(data.data.status){
                        console.log(data.data)
                        this.verified=true;
                        this.psw.token=this.$route.params.token;
                        
                    }else{
                        this.$store.commit('setNotification',{type:2, msg:'Expired or Invalid reset link. <br> Please try resetting your password again.'});  
                    }
                })
                .catch((error)=>{
                    console.log(error.request);
                    if(error.request != null){
                        this.$store.dispatch("handleError",error); 
                    }
                    this.loading=false;
                });
            },
            reset(){
                if(this.psw.password_confirmation.length == 0 || this.psw.password.length == 0){
                    this.$store.commit('setNotification',{type:2, msg:'Password and Confirm password fields are required'});
                    return false;
                }
    

                if(this.psw.password_confirmation != this.psw.password){
                    this.$store.commit('setNotification',{type:2, msg:"password doesn't match"});
                    return false;
                }

                if(this.loading){
                    return false;
                } 

                this.loading=true;

                this.$store.commit('setNotification',{type:0,msg:''});
                this.$store.dispatch('post',{
                    details:this.psw,
                    endpoint:'reset-password'
                })
                .then((data)=>{
                    console.log(data);
                    if(data.data.status){
                        this.$store.commit('setNotification',{type:1, msg:'Your password reset was successfull.'});
                        window.location.href='/login';
                    }else{
                        this.$store.commit('setNotification',{type:2, msg:data.data.message});
                    }

                    this.loading=false; 
                })
                .catch((error)=>{
                    console.log(error.request);
                    if(error.request != null){
                        this.$store.dispatch("handleError",error); 
                    }

                    this.loading=false;
                });
            }
        },
        created(){
            this.verifyAccount();
        }
    }
</script>

<style>

</style>